@use "../abstracts" as *;

.input-page {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
    padding-right: 20px;

    &--accent {
      color: $violet-pink;
    }
  }

  &__link {
    margin-top: 15px;
    font-size: 16px;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  &__form {
    background-color: $dark-blue-magenta;
    width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint-down(large) {
      max-width: inherit;
      margin: 2rem 0;
      width: 80vw;
      max-width: 80%;
    }

    @include breakpoint-down(small) {
      max-width: inherit;
      margin: 2rem 0;
      width: 100vw;
      max-width: 100%;
    }
  }

  &__reminder-msg {
    font-size: 0.85rem;
    margin: 10px 0;
  }

  &__city-reminder-msg {
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
    margin-top: 0;
  }

  @include breakpoint-down(large) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
