.App {
  text-align: center;
  overflow: hidden;
}

.navbar {
  font-family: 'Cardo', serif;
  font-size: 21px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  top: 0;
  left: 0;
  text-decoration: none !important;
}

.nav-link:hover {
  color: #5fbfff !important;
  text-decoration: none !important;
}

.navbar .navbar-brand {
  padding: 0.70rem 0;
  display: block;
  text-decoration: none !important;
}

.navbar-brand {
  font-family: 'Rye', cursive;
  font-size: 1.5rem;
  color: #5fbfff !important;
  text-decoration: none !important;
}
