.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(20%);

  h1 {
    font-size: rem(160);
    letter-spacing: rem(8);

    @include breakpoint-down(medium) {
      font-size: rem(130);
    }
  }

  &__btn {
    @extend .btn;
    margin-top: 0.7rem;
  }
}
