@use "../abstracts" as *;

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(20%);

  h1 {
    font-size: rem(160);
    letter-spacing: rem(8);

    @include breakpoint-down(medium) {
      font-size: rem(130);
    }
  }

  &__btn {
    color: white;
    background-color: $blue-btn;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
}
