.playlist {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

  &__container {
    width: 65vw;
    max-width: 100%;
    display: block;
    height: 75%;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;

    @include breakpoint-down(large) {
      width: 90vw;
    }
  }

  &__table {
    border-collapse: collapse;
    background: linear-gradient($medium-blue, $violet-pink);

    tr {
      transform-origin: 0% 50%;
      text-align: center;

      &:hover {
        background: $medium-blue-magenta;
      }
    }
  }

  &__header {
    padding: 0.8rem;
    text-align: center;
    font-size: 1.5rem;
    background: $dark-blue-magenta;
  }

  &__title {
    font-size: 20px;
  }
}

.song {
  &__cover {
    padding: 0 1rem;

    @include breakpoint-down(small) {
      display: none;
    }
  }

  &__cover-img {
    width: 70px;
    height: 70px;

    img {
      width: 60px;
      height: 60px;
      margin: 6px 6px;
      padding: 1px;
    }
  }

  &__title {
    width: 100%;
    text-align: left;
    padding-right: 1rem;
    padding-left: 1rem;
    transition: all 0.3s ease-in;
  }

  &__length {
    padding: 1rem;
  }

  &__preview {
    padding: 1rem 0;
  }

  &__audio {
    vertical-align: middle;
    margin-right: -4.9rem;
    height: 2.5rem;
    width: 7.35rem;
    overflow-x: hidden;
  }
}
