@use "../abstracts" as *;

.users {
  &__container {
    padding: 20px 5%;
    margin: rem(10) auto rem(25);
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    tbody tr td {
      font-size: rem(18);
      letter-spacing: rem(0.35);
      font-weight: normal;
      color: #f1f1f1;
      padding: rem(12) rem(32);
      text-align: center;
      background: $medium-blue-magenta;
    }
  }

  &__table-header {
    font-size: rem(18);
    font-weight: 600;
    letter-spacing: rem(0.35);
    color: white;
    opacity: 1;
    padding: rem(12);
    vertical-align: top;
    border-collapse: collapse;
    background: $dark-blue-magenta;
  }

  &__table-row {
    outline: $dark-blue-magenta thin solid;
  }

  &__table-buttons {
    display: flex;
    justify-content: center;

    &--delete {
      color: white;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;

      &:hover svg {
        transform: scale(1.2);
        transition: transform 0.2s linear;
      }
    }

    &--edit {
      @extend .users__table-buttons--delete;
      margin-right: 1.2rem;
    }

    &--role {
      @extend .users__table-buttons--delete;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 0.8rem;

      svg {
        margin-top: rem(2);
      }
    }
  }
}

@include breakpoint-down(large) {
  .users {
    &__table {
      tbody,
      tr,
      td {
        display: block;
        width: 100%;
      }
    }

    &__table tr {
      margin-bottom: rem(15);
    }

    &__table tbody tr td {
      text-align: center;
      position: relative;
      outline: $dark-blue-magenta thin solid;
    }

    &__table-header {
      display: block;
      width: inherit;
    }
  }
}

@include breakpoint-down(small) {
  .users__table tbody tr td {
    font-size: rem(16);
  }
}
