.filters {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  &__btn {
    border: none;
    border-radius: 900px;
    background-color: $light-gray;
    padding: 6px 13px;
    font-size: inherit;
    cursor: pointer;

    &--gradient {
      background-image: linear-gradient(
        to right,
        $violet-pink 0%,
        $medium-blue 51%,
        $violet-pink 100%
      );
      background-size: 200% auto;
      color: white;
    }
  }

  &__custom-select {
    position: relative;

    &::after {
      --size: 6px;
      position: absolute;
      content: "";
      right: 16px;
      pointer-events: none;
      border-left: var(--size) solid transparent;
      border-right: var(--size) solid transparent;
      border-top: var(--size) solid black;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__select {
    appearance: none;
    width: 100%;
    font-size: 18px;
    padding: 8px 90px 8px 16px;
    background-color: $light-gray;
    border-radius: 900px;
    color: black;
    cursor: pointer;
  }
}
