.genre-slider {
  display: flex;
  align-items: center;

  &__title {
    font-size: 16px;
    width: 15%;
  }

  &__input-container {
    display: flex;
    width: 75%;
    flex-shrink: 0;
    text-align: center;
    padding-right: 15px;
    transition: all 0.3s ease-in;
  }

  &__input {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 3px;

    &::-webkit-slider-thumb {
      padding: 11px;
    }
  }

  &__value {
    font-size: 14px;
    width: 10%;
  }
}
