@use "../abstracts" as *;

.input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  input {
    outline: none;
    background: none;
    border: rem(1) solid #374669;
    padding: 0.5em;
    color: inherit;
    border-radius: rem(5);

    &:focus {
      border-color: #596da0;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__validation-msg {
    font-size: 0.8em;
    margin-top: rem(5);
    color: $validation-red;

    &--valid {
      color: white;
    }
  }

  .password-visibility-toggle {
    position: absolute;
    right: 0;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;

    svg {
      display: block;
    }
  }
}
