.modal {
  color: white;
  background-color: $dark-blue-magenta;
  padding: 45px 50px;
  position: fixed;
  margin: auto;
  max-width: 380px;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  &__alert {
    margin-bottom: 1rem;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
