.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $dark-blue-magenta;
  padding: 25px 50px;
  z-index: 1000;

  &__alert {
    margin-bottom: 1rem;
  }

  &__close {
    position: relative;
    margin-left: auto;
    top: -0.5rem;
    right: -1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
