.container-main-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

  .songs-container {
    width: 65vw;
    max-width: 100%;
    display: block;
    height: 75%;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;

    @include breakpoint-down(medium) {
      width: 90vw;
    }

    .playlist-list {
      border-collapse: collapse;
      background: linear-gradient(#3a56b0, $violet-pink);

      tr {
        transform-origin: 0% 50%;
        text-align: center;

        .playlist-header {
          padding: 0.8rem;
          text-align: center;
          font-size: 1.5rem;
          background: #202027;

          .playlist-title {
            font-size: 20px;
          }
        }

        &:hover {
          background: #393959;
        }
      }
    }
  }
}

.song-album-cover {
  padding: 0 1rem;
}

.song-length {
  padding: 1rem;
}

.play-preview {
  padding: 1rem 0;
}

.song-title {
  width: 100%;
  text-align: left;
  padding-right: 1rem;
  padding-left: 1rem;
  transition: all 0.3s ease-in;
}

.album-img {
  width: 70px;
  height: 70px;

  img {
    width: 60px;
    height: 60px;
    margin: 6px 6px;
    padding: 1px;
  }
}

::-webkit-scrollbar {
  width: 12px;
  background: #202027;
  border-radius: calc(12px / 2);
}

::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: calc(12px / 2);
}

.genres {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.genre-section {
  text-align: center;

  .genre {
    margin-right: 1rem;
    border: 1px solid $dark-gray;
    border-radius: 900px;
    background-color: $light-gray;
    padding: 0.4rem 0.8rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 150ms;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $dark-gray;
      color: white;
      border-color: $dark-gray;
    }
  }

  select {
    margin-right: 1rem;
    border: 1px solid $dark-gray;
    border-radius: 900px;
    background-color: $light-gray;
    padding: 0.4rem 0.8rem;
    font-size: inherit;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .search-container {
    margin: auto;
    margin-top: 1%;
    position: relative;
    width: 300px;
    height: 42px;
    border: 3px solid $light-gray;
    padding: 0 10px;
    border-radius: 50px;

    .elements-container {
      width: 100%;
      height: 100%;
      vertical-align: middle;

      .search {
        border: none;
        height: 100%;
        width: 100%;
        padding: 0 5px;
        border-radius: 50px;
        font-size: 18px;
        color: $light-gray;
        background-color: #2f303a;
        font-weight: 500;

        &:focus {
          outline: none;
        }
      }

      .material-icons {
        font-size: 26;
        color: $light-gray;
        margin-top: 2px;
      }
    }
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    $violet-pink 0%,
    #3a56b0 51%,
    $violet-pink 100%
  );
  margin-right: 1rem;
  padding: 0.4rem 0.8rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 900px;
  border: 1px solid $dark-gray;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    background-position: right center;
    color: #fff;
    border-color: $dark-gray;
  }

  &:focus {
    outline: none;
  }
}

::placeholder {
  color: #adadad;
}

.genres-list {
  margin-top: -0.5rem;
  border-collapse: collapse;
  background: #202027;
  margin-bottom: 1rem;

  .genre-row {
    transform-origin: 0% 50%;

    .genre-col {
      padding-right: 1rem;
      padding-bottom: 0.65rem;
    }

    .slider-col {
      width: 375px;
      text-align: center;
      padding-right: 1rem;
      padding-bottom: 0.65rem;
      transition: all 0.3s ease-in;

      #slider {
        -webkit-appearance: none;
        width: 100%;
        height: 7px;
        outline: none;
        border-radius: 3px;

        &::-webkit-slider-thumb {
          padding: 11px;
        }
      }
    }

    .percent-col {
      padding-left: 1rem;
      padding-bottom: 0.65rem;
      display: table-cell;
      width: 62px;
      min-width: 62px;
    }
  }
}

.input-group h4 {
  margin-bottom: 0.75rem;
}

.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  a {
    padding: 6px 12px;
    margin: 8px;
    border-radius: 5px;
    border: 1.5px solid $light-gray;
    color: $light-gray;
    cursor: pointer;
    font-size: large;

    &:hover {
      color: black;
      background-color: $light-gray;
    }
  }
}

.paginationActive a {
  color: black;
  background-color: $light-gray;
}

.reminder-msg {
  font-size: 0.85rem;
  margin-bottom: 0.1rem;
}

button:disabled {
  cursor: not-allowed;
}

.table-container {
  padding: 0 10%;
  margin: 5px auto 25px;

  .table thead tr th {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #ffffff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border-collapse: collapse;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background: #202027;
  }
}

.table tbody tr td {
  font-size: 18px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #f1f1f1;
  padding: 12px 32px;
  text-align: center;
  background: #393959;

  .inline-td {
    display: flex;
    justify-content: center;

    .delete-btn-users {
      color: white;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        color: crimson;
      }
    }

    .edit-btn-users {
      color: white;
      background-color: transparent;
      outline: none;
      margin-right: 1.2rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        color: mediumturquoise;
      }
    }

    .role-btn-users {
      color: white;
      background-color: transparent;
      outline: none;
      margin-top: 0.2rem;
      margin-left: 0.8rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;
    }
  }
}

@include breakpoint-down(medium) {
  .table thead {
    display: block;
    width: inherit;
  }

  .table thead tr th {
    display: block;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table tbody tr td {
    text-align: center;
    position: relative;
    outline: #202027 thin solid;
  }

  .song-album-cover {
    display: none;
  }
}

.audio {
  vertical-align: middle;
  margin-right: -4.9rem;
  height: 2.5rem;
  width: 7.35rem;
  overflow-x: hidden;
}
