.the-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  .the-text {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;

    .accent-text {
      color: #bc3a80;
    }
  }

  .the-form {
    background-color: #202027;
    width: 50vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;

    .input-group {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;

      .city-reminder-msg {
        font-size: 0.85rem;
        margin-bottom: 0.3rem;
        margin-top: 0;
      }

      .password-eye {
        display: flex;
        justify-content: space-between;

        .show-password {
          margin-bottom: 0;
          color: white;
          background-color: transparent;
          outline: none;
          border: none;
          cursor: pointer;
          text-decoration: none;
          font-size: 1.4rem;
        }
      }

      label {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      input {
        outline: none;
        background: none;
        border: 1px solid #374669;
        font-size: 1em;
        padding: 0.5em;
        color: inherit;
        border-radius: 5px;

        &:focus {
          border-color: #596da0;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .register-msg {
        font-size: 0.8em;
      }

      .checkbox-container {
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
        display: inline;

        #checkbox {
          margin-right: 0.7rem;
          width: 18px;
          height: 18px;
          cursor: pointer;
          vertical-align: middle;
        }

        label {
          font-size: 1.15rem;
          font-weight: 400 !important;
        }
      }
    }

    @include breakpoint-down(large) {
      max-width: inherit;
      margin: 2rem 0;
      width: 80vw;
      max-width: 80%;
    }

    @include breakpoint-down(small) {
      max-width: inherit;
      margin: 2rem 0;
      width: 100vw;
      max-width: 100%;
    }
  }

  @include breakpoint-down(large) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 346px);
  justify-content: center;
  grid-gap: 40px;
  padding-bottom: 2rem;

  .card {
    width: 346px;
    padding: 15px;
    background: #202027;
    border-radius: 0.5rem;
    transition: background 320ms;

    .cover {
      width: 316px;
      height: 166px;
      position: relative;
      background: linear-gradient(#3a56b0, $violet-pink);
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4), 0 8px 18px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      .cover-text {
        opacity: 0.8;
        transform: translateY(-1rem);

        .cover-title {
          font-size: 1.3rem;
          text-align: center;
          display: flex;
          flex-direction: column;

          &:after {
            content: "";
            width: 100%;
            height: 2px;
            background: white;
            border-radius: 1px;
            opacity: 0.4;
            margin: 0.5rem 0;
          }
        }

        .cover-subtitle {
          letter-spacing: 1px;
          text-align: center;
          font-size: 1rem;
        }
      }
    }

    &:hover {
      background: #393959;

      .view-btn {
        transform: translateY(0);
        opacity: 1;
      }

      .delete-btn {
        transform: translateY(0);
        opacity: 1;
      }

      .edit-btn {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .pl-name {
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 0.5rem;
    }

    .pl-about {
      font-size: 0.9375rem;
      color: #aaaaaa;
    }
  }
}

.view-btn-wrapper {
  position: absolute;
  text-align: center;
  bottom: 1rem;

  .view-btn {
    color: white;
    background-color: #88a73e;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    bottom: 1rem;
    opacity: 0;
    transform: translateY(1rem);
    transition: transform 320ms, opacity 320ms;

    &:hover {
      background-color: #7b8d51;
    }
  }

  .delete-btn {
    color: white;
    background-color: transparent;
    margin-left: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    outline: none;
    border: none;
    cursor: pointer;
    bottom: 1rem;
    opacity: 0;
    transform: translateY(1rem);
    transition: transform 320ms, opacity 320ms;

    &:hover {
      color: orange;
    }
  }

  .edit-btn {
    @extend .delete-btn;

    &:hover {
      color: mediumturquoise;
    }
  }
}

.container-main-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

  .songs-container {
    width: 65vw;
    max-width: 100%;
    display: block;
    height: 75%;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;

    @include breakpoint-down(medium) {
      width: 90vw;
    }

    .playlist-list {
      border-collapse: collapse;
      background: linear-gradient(#3a56b0, $violet-pink);

      tr {
        transform-origin: 0% 50%;
        text-align: center;

        .playlist-header {
          padding: 0.8rem;
          text-align: center;
          font-size: 1.5rem;
          background: #202027;

          .playlist-title {
            font-size: 20px;
          }
        }

        &:hover {
          background: #393959;
        }
      }
    }
  }
}

.song-album-cover {
  padding: 0 1rem;
}

.song-length {
  padding: 1rem;
}

.play-preview {
  padding: 1rem 0;
}

.song-title {
  width: 100%;
  text-align: left;
  padding-right: 1rem;
  padding-left: 1rem;
  transition: all 0.3s ease-in;
}

.album-img {
  width: 70px;
  height: 70px;

  img {
    width: 60px;
    height: 60px;
    margin: 6px 6px;
    padding: 1px;
  }
}

::-webkit-scrollbar {
  width: 12px;
  background: #202027;
  border-radius: calc(12px / 2);
}

::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: calc(12px / 2);
}

.genres {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.genre-section {
  text-align: center;

  .genre {
    margin-right: 1rem;
    border: 1px solid $dark-gray;
    border-radius: 900px;
    background-color: $light-gray;
    padding: 0.4rem 0.8rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 150ms;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $dark-gray;
      color: white;
      border-color: $dark-gray;
    }
  }

  select {
    margin-right: 1rem;
    border: 1px solid $dark-gray;
    border-radius: 900px;
    background-color: $light-gray;
    padding: 0.4rem 0.8rem;
    font-size: inherit;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .search-container {
    margin: auto;
    margin-top: 1%;
    position: relative;
    width: 300px;
    height: 42px;
    border: 3px solid $light-gray;
    padding: 0 10px;
    border-radius: 50px;

    .elements-container {
      width: 100%;
      height: 100%;
      vertical-align: middle;

      .search {
        border: none;
        height: 100%;
        width: 100%;
        padding: 0 5px;
        border-radius: 50px;
        font-size: 18px;
        color: $light-gray;
        background-color: #2f303a;
        font-weight: 500;

        &:focus {
          outline: none;
        }
      }

      .material-icons {
        font-size: 26;
        color: $light-gray;
        margin-top: 2px;
      }
    }
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    $violet-pink 0%,
    #3a56b0 51%,
    $violet-pink 100%
  );
  margin-right: 1rem;
  padding: 0.4rem 0.8rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 900px;
  border: 1px solid $dark-gray;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    background-position: right center;
    color: #fff;
    border-color: $dark-gray;
  }

  &:focus {
    outline: none;
  }
}

::placeholder {
  color: #adadad;
}

.genres-list {
  margin-top: -0.5rem;
  border-collapse: collapse;
  background: #202027;
  margin-bottom: 1rem;

  .genre-row {
    transform-origin: 0% 50%;

    .genre-col {
      padding-right: 1rem;
      padding-bottom: 0.65rem;
    }

    .slider-col {
      width: 375px;
      text-align: center;
      padding-right: 1rem;
      padding-bottom: 0.65rem;
      transition: all 0.3s ease-in;

      #slider {
        -webkit-appearance: none;
        width: 100%;
        height: 7px;
        outline: none;
        border-radius: 3px;

        &::-webkit-slider-thumb {
          padding: 11px;
        }
      }
    }

    .percent-col {
      padding-left: 1rem;
      padding-bottom: 0.65rem;
      display: table-cell;
      width: 62px;
      min-width: 62px;
    }
  }
}

.input-group h4 {
  margin-bottom: 0.75rem;
}

.Loader {
  display: inline-block;
  width: 80px;
  height: 80px;

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $violet-pink;
    border-color: $violet-pink transparent $violet-pink transparent;
    animation: Loader 1.2s linear infinite;
  }
}

@keyframes Loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  a {
    padding: 6px 12px;
    margin: 8px;
    border-radius: 5px;
    border: 1.5px solid $light-gray;
    color: $light-gray;
    cursor: pointer;
    font-size: large;

    &:hover {
      color: black;
      background-color: $light-gray;
    }
  }
}

.paginationActive a {
  color: black;
  background-color: $light-gray;
}

.reminder-msg {
  font-size: 0.85rem;
  margin-bottom: 0.1rem;
}

button:disabled {
  cursor: not-allowed;
}

.modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #202027;
  padding: 50px;
  padding-top: 27px;
  z-index: 1000;

  .close-button {
    position: relative;
    left: 17rem;
    top: -1rem;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: bold;
  }
}

.overlay-styles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.table-container {
  padding: 0 10%;
  margin: 5px auto 25px;

  .table thead tr th {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #ffffff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border-collapse: collapse;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background: #202027;
  }
}

.table tbody tr td {
  font-size: 18px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #f1f1f1;
  padding: 12px 32px;
  text-align: center;
  background: #393959;

  .inline-td {
    display: flex;
    justify-content: center;

    .delete-btn-users {
      color: white;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        color: crimson;
      }
    }

    .edit-btn-users {
      color: white;
      background-color: transparent;
      outline: none;
      margin-right: 1.2rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        color: mediumturquoise;
      }
    }

    .role-btn-users {
      color: white;
      background-color: transparent;
      outline: none;
      margin-top: 0.2rem;
      margin-left: 0.8rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;
    }
  }
}

@include breakpoint-down(medium) {
  .table thead {
    display: block;
    width: inherit;
  }

  .table thead tr th {
    display: block;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table tbody tr td {
    text-align: center;
    position: relative;
    outline: #202027 thin solid;
  }

  .song-album-cover {
    display: none;
  }
}

.audio {
  vertical-align: middle;
  margin-right: -4.9rem;
  height: 2.5rem;
  width: 7.35rem;
  overflow-x: hidden;
}
