$violet-pink: #ba3b81;
$light-gray: #e8e8e8;
$medium-gray: #adadad;
$dark-gray: #616161;
$dark-grayish-blue: #30313b;
$dark-blue-magenta: #202027;
$medium-blue-magenta: #393959;
$medium-blue: #3a56b0;
