.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(20%);

  h1 {
    font-size: rem(160);
    letter-spacing: rem(8);

    @include breakpoint-down(medium) {
      font-size: rem(130);
    }
  }

  &__btn {
    color: white;
    background-color: #1762a7;
    padding: 0.75rem 1.5rem;
    margin-top: 0.7rem;
    border-radius: rem(900);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #2180d8;
    }
  }
}
