@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  background-color: $dark-grayish-blue;
  color: white;
  line-height: 1.3;
  min-height: 100vh;
  overflow-x: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.btn {
  color: white;
  background-color: #1762a7;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #2180d8;
  }

  &:focus {
    background-color: #2796ff;
  }
}
